* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, arial;
}

a {
    text-decoration: none;
}

.margen-interno {
    padding: 0 50px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url(../img/mundo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
    flex: 1 1 auto;
    font-size: 26px;
}

.logo a {
    color: white;
}

.logo a:hover {
    color: #0a0a0a;
}

.nav {
    flex: 5 1 auto;
    display: flex;
}

.nav a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 8px;
    letter-spacing: 1px;
}

.nav a:hover {
    color: #0a0a0a;
}

.social {
    flex: 1 1 auto;
}

.social a {
    font-size: 26px;
    color: white;
    padding: 0 5px;
}

.social a:hover {
    color: #0b1dbd;
}

.texto-principal {
    /*background: rgba(0,0,0,0.3);*/
    height: 580px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 21px;
    color: white;
    text-align: center;
    font-weight: 300px;
    line-height: 1.6;
}

.section {
    background-color: #F7F7F7;
    display: flex;
}

.articulos {
    background: #f7f7f7;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    color: #444;
    flex: 1 1 40%;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec;
}

.article a {
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    background: #000;
    margin: 20px 0;
    display: inline-block;
    border-radius: 12px;
}

.article a:hover {
    background: #0f22d1;
}

.article img {
    width: 100%;
    height: 400px;
}

h3 {
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
    margin-top: -80px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: #fff;
}

.article p {
    margin-top: 10px;
}

.navegacion {
    background: #000;
    flex: 1 1 100%;
    margin: 10px 10px 0 0px;
}

.navegacion a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

.navegacion a:hover {
    background: #0916ba;
}

.aside {
    flex: 1 1 auto;
    margin: 10px 5px 10px 0;
}

.aside h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.galeria {
    width: 1200px;
    height: 400px;
}

.galeria img {
    width: 250px;
    clear: both;
    margin: 20px;
}

.contacto {
    width: 80%;
    height: 700px;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    margin-left: 100px;
}

.contacto h2 {
    font-size: 26px;
    text-align: center;
    margin-top: 30px;
    color: #000;
}

#caja-video {
    height: 550px;
    margin-left: 400px;
}

video {
    width: 500px;
    height: 500px;
}

#caja-video ul {
    margin-top: 7px;
}

#caja-video li {
    width: 100%;
    list-style: none;
    display: inline;
    text-align: center;
    padding: 10px;
}

#caja-video span {
    font-size: 26px;
    color: black;
}

#reparar:hover {
    transform: rotate(45deg);
}

#reparar1:hover {
    transform: rotate(-45deg);
}

#red:hover {
    transform: rotate(45deg);
}

#red1:hover {
    transform: rotate(-45deg);
}

#soporte:hover {
    transform: scale(1.3);
}

#soporte1:hover {
    transform: scale(1.6);
}

#diseno:hover {
    transform: translateX(100px);
}

#diseno1:hover {
    transform: translateX(150px);
}

form {
    width: 700px;
    padding: 16px;
    border-radius: 20px;
    margin-left: 320px;
    margin-top: 30px;
}

form ul {
    width: 80px;
    font-weight: bold;
    display: inline-block;
}

form li {
    display: inline;
    color: #000;
}

form input[type="text"],
form input[type="email"],
form input[type="Telefono"] {
    width: 250px;
    padding: 3px 10px;
    border: 2px solid #5c5e73;
    border-radius: 3px;
    margin: 8px 0;
    display: inline-block;
}

textarea {
    width: 400px;
    padding: 3px;
    border: 2px solid #5c5e73;
    border-radius: 3px;
    margin-top: 10px;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 32px;
    border: 1px;
    border-radius: 15px;
    display: block;
    color: white;
    background-color: #242323;
}

#boton:hover {
    background: #0916ba;
}

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pie {
    text-align: center;
}

.pie a {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}

@media all and(max-width: 1023px min-width 600px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 15px;
    }
}

@media all and(max-width: 599px) {
    .articulos {
        flex-direction: column;
    }
}